@import "tailwindcss";

.background-pattern {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffff00'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linecap='square' stroke-width='0.5' stroke='%23f1f1f1ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.grid-blur {
  z-index: 0;
}

.grid-blur:before {
  content: "";
  inset: -6rem;
  position: absolute;
  z-index: -1;

  backdrop-filter: blur(0.75px);

  mask-image: radial-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
